/*css reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*css reset*/
  
/*global*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
:root {
	--system-ui: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
	font-family: var(--system-ui);
	box-sizing: border-box;
	--primary-color: hsl(13, 81%, 15%);
	--secondary-color: hsl(32, 98%, 83%);
	--tertiary-color: hsl(28, 7%, 55%);
}
body {
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-template-rows: 1fr 10fr;
}
button{
    cursor: pointer;
}
button:hover{
	filter: brightness(1.2);
}
button:active{
	filter: brightness(1.4);
}
/*global*/

/*header*/
header{
    padding: 10px 40px;
    font-size: 3rem;
    background-color: var(--secondary-color);
    font-family: poppins, sans-serif;
    color: var(--primary-color);
	grid-column: 1 / span 4;
	user-select: none;
}
/*header*/
/*content*/
#content{
	padding: 20px;
	display: flex;
	flex-direction: column;
	position: relative;
	gap: 10px;
}
#content h2{
	font-size: 2rem;
	font-weight: bold;
	color: var(--primary-color);
}
#content button{
	border: none;
	padding: 10px;
	border-radius: 10px;
	font-size: 1.1rem;
}
#content button:hover{
	filter: brightness(.9);
}
.task{
	display: flex;
	justify-content: space-between;
	text-align: center;
	align-items: center;
	font-size: 1.1rem;
	background-color: rgb(233, 233, 233);
	border-radius: 10px;
	padding: 4px 15px;
}
.add-task-form input{
	padding: 5px;
	border-radius: 4px;
	border: 1px solid gray;
}
.add-task-form div{
	display: flex;
	gap: 10px;
	flex-direction: row;
}
.add-task-form div button{
	flex: 1;
}
/*content*/
/*aside*/
aside{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px 10px;
    background-color: var(--tertiary-color);
}
aside ul{
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
aside button{
	filter: brightness(1.1);
    border: none;
    padding: 10px;
    font-size: 1rem;
    font-weight: normal;
    width: 100%;
    border-radius: 10px;
    background-color: var(--tertiary-color);
	color: white;
}

aside h2{
    font-size: 1.8rem;
	font-family: poppins;
	color: white;
	margin: 20px 0;
}

.add-project-form,
.add-task-form{
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.add-project-form div{
	display: flex;
	gap: 10px;
}
.add-project-form button,
.add-task-form button{
	background-color: var(--secondary-color);
	color: var(--primary-color);
	padding: 5px;
}
.add-project-form input{
	padding: 5px;
	border: none;
	border-radius: 4px;
}
.add-project-btn{
	color: var(--primary-color);
	background-color: var(--secondary-color);
}
/*aside*/

/*footer*/
footer{
	padding: 20px 0;
	font-size: clamp(1rem, 0.8500rem + 0.6667vw, 1.2rem);
	position: absolute;
	bottom: 0;
	color: var(--tertiary-color);
	line-height: 25px;
	width: 100%;
}
footer a{
	margin-left: 4px;
    color: inherit;
}
footer p{
	text-align: center;
}
.fa-github{
	scale: 1.2;
    transition: transform 0.3s ease-in-out;
}
.fa-github:hover{
    transform: rotate(360deg) scale(1.2);
}
/*footer*/
